main {
    height: 600px;
    border: solid 3px black;
    display: flex;     
}

div {
    height: 100px;
    width: 20%;
    text-align: center;
    color: white;    
}

div:nth-child(1) {
    background-color: red;      
    flex: 1;  
}

div:nth-child(2) {
    background-color: green;         
    flex: 2;
}
div:nth-child(3) {
    background-color: blue;
    flex: 3;    
}